/* ui mixin: untitled-ui-6-large for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  
  @include extjs-button-ui(
    $ui:"untitled-ui-6-large",
    $arrow-height: $button-large-arrow-height,
    $arrow-width: $button-large-arrow-width,
    $background-color: $button-default-background-color,
    $background-color-disabled: $button-default-background-color-disabled,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-over: $button-default-background-color-over,
    $background-color-pressed: $button-default-background-color-pressed,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $border-color: $button-default-border-color,
    $border-color-disabled: $button-default-border-color-disabled,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-over: $button-default-border-color-over,
    $border-color-pressed: $button-default-border-color-pressed,
    $border-radius: $button-large-border-radius,
    $border-width: $button-large-border-width,
    $color: $button-default-color,
    $color-disabled: $button-default-color-disabled,
    $color-focus: $button-default-color-focus,
    $color-over: $button-default-color-over,
    $color-pressed: $button-default-color-pressed,
    $font-family: $button-large-font-family,
    $font-family-disabled: $button-large-font-family-disabled,
    $font-family-focus: $button-large-font-family-focus,
    $font-family-over: $button-large-font-family-over,
    $font-family-pressed: $button-large-font-family-pressed,
    $font-size: $button-large-font-size,
    $font-size-disabled: $button-large-font-size-disabled,
    $font-size-focus: $button-large-font-size-focus,
    $font-size-over: $button-large-font-size-over,
    $font-size-pressed: $button-large-font-size-pressed,
    $font-weight: $button-large-font-weight,
    $font-weight-disabled: $button-large-font-weight-disabled,
    $font-weight-focus: $button-large-font-weight-focus,
    $font-weight-over: $button-large-font-weight-over,
    $font-weight-pressed: $button-large-font-weight-pressed,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: $button-large-icon-size,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: $button-large-padding,
    $split-height: $button-large-split-height,
    $split-width: $button-large-split-width,
    $text-padding: $button-large-text-padding
  );
}
/* ui mixin: untitled-ui-7-medium for of type: extjs-button-ui */
@if $include-ext-button-button != false {
  
  @include extjs-button-ui(
    $ui:"untitled-ui-7-medium",
    $arrow-height: $button-medium-arrow-height,
    $arrow-width: $button-medium-arrow-width,
    $background-color: $button-default-background-color,
    $background-color-disabled: $button-default-background-color-disabled,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-over: $button-default-background-color-over,
    $background-color-pressed: $button-default-background-color-pressed,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $border-color: $button-default-border-color,
    $border-color-disabled: $button-default-border-color-disabled,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-over: $button-default-border-color-over,
    $border-color-pressed: $button-default-border-color-pressed,
    $border-radius: $button-medium-border-radius,
    $border-width: $button-medium-border-width,
    $color: $button-default-color,
    $color-disabled: $button-default-color-disabled,
    $color-focus: $button-default-color-focus,
    $color-over: $button-default-color-over,
    $color-pressed: $button-default-color-pressed,
    $font-family: $button-medium-font-family,
    $font-family-disabled: $button-medium-font-family-disabled,
    $font-family-focus: $button-medium-font-family-focus,
    $font-family-over: $button-medium-font-family-over,
    $font-family-pressed: $button-medium-font-family-pressed,
    $font-size: $button-small-font-size,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-over: $button-small-font-size-over,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-weight: $button-medium-font-weight,
    $font-weight-disabled: $button-medium-font-weight-disabled,
    $font-weight-focus: $button-medium-font-weight-focus,
    $font-weight-over: $button-medium-font-weight-over,
    $font-weight-pressed: $button-medium-font-weight-pressed,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $icon-size: $button-medium-icon-size,
    $include-split-noline-arrows: false,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $opacity-disabled: $button-opacity-disabled,
    $padding: $button-medium-padding,
    $split-height: $button-medium-split-height,
    $split-width: $button-medium-split-width,
    $text-padding: $button-medium-text-padding
  );
}